<!DOCTYPE html>
<html>
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
  background-color: #111111;
}
li a:hover {
  background-color: #111111;
}
li {
  float: left;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">Shopping Items </h2>

<div>
    <ul>
        <li style="padding-left:1em">
            <div class="card">
                    <img src="https://assets.hardwarezone.com/img/2017/08/blushgoldiPhone8.jpg" alt="Iphone x" width="200" height="180">   
                    <p class="price">$499.99</p>
                    <p>iPhone XS MAX</p>
                    <p><button>Add to Cart</button></p>
            </div>
        </li>
        <li style="padding-left:1em">
            <div class="card">
                    <img src="https://assets.hardwarezone.com/img/2017/08/blushgoldiPhone8.jpg" alt="Iphone x" width="200" height="180">
                     
                    <p class="price">$499.99</p>
                    <p>iPhone XS MAX</p>
                    <p><button>Add to Cart</button></p>
            </div>
        </li >
        <li style="padding-left:1em">
            <div class="card">
                    <img src="https://www.techgenyz.com/wp-content/uploads/2020/04/apple-airpods.jpg" alt="Imac " width="250" height="180">
                    
                    <p class="price">$399..99</p>
                    <p>Apple Airpods</p>
                    <p><button>Add to Cart</button></p> 

            </div>
        </li>
        <li style="padding-left:1em">
                <div class="card">
                        <img src="https://www.techgenyz.com/wp-content/uploads/2020/04/apple-airpods.jpg" alt="Imac " width="250" height="180">
                       
                        <p class="price">$399.99</p>
                        <p>Apple Airpods</p>
                        <p><button>Add to Cart</button></p> 
    
                </div>
            </li>
    </ul>
</div>
</body>
</html>

